.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  margin-right: 20%;
  margin-left: 20%;
}

.links_container {
  margin-left: auto;
}

@media (min-width: 701px) and (max-width: 1024px) {
  .header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    margin-right: 4%;
    margin-left: 4%;
  }
  .links_container {
    margin-left: auto;
  }
}

@media (max-width: 700px) {
  .header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    margin-right: 4%;
    margin-left: 4%;
  }

  .links_container {
    margin-left: auto;
  }
}
