.section {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 120px;
}
.button {
  font-family: "Karla", sans-serif;
  font-size: 18pt;
  background-color: #f4ce14;
  border-radius: 8px;
  border-style: none;
  padding: 0em 2em;
  cursor: pointer;
  white-space: nowrap;
  height: 70px;
  margin-left: 1em;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* This will align the items vertically */
  margin: 0em 0em;
}

.cardflex {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* This will align the items vertically */
  gap: 2em;
}

/* Media queries--------------------------------------------------------------------------*/

@media (max-width: 700px) {
  .section {
    margin-right: 4%;
    margin-left: 4%;
  }
  .button {
    max-width: 100%;
    width: 100%;
    font-family: "Karla", sans-serif;
    font-size: 18pt;
    background-color: #f4ce14;
    border-radius: 8px;
    border-style: none;
    padding: 0em 1em;
    cursor: pointer;
    white-space: nowrap;
    height: 8vh;
    margin: 1em 0;
  }

  .flex {
    display: block;
    justify-content: space-evenly; /* This will align the items vertically */
    margin: 0em 0em;
  }

  .cardflex {
    margin: 2em;
    display: block;
    flex-direction: row;
    justify-content: space-between; /* This will align the items vertically */
    gap: 2em;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  .section {
    margin-right: 4%;
    margin-left: 4%;
  }
}
